.person-details-container {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        mat-card {
            flex: 1 1 33%;
            width: 33%;
            border-radius: 0px;
        }
        mat-card-content p {
            margin-left: 13px;
        }
    }
    .footer {
        padding: 10px;
        display:flex;
        justify-content: flex-end;
        button {
            margin: 5px;
        }
    }
}