// using angular materials colors for the background

@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);

body {
    margin: 0px;
    background-color: mat-color($primary);
}